body
{
	padding-top: 85px;
}
.nav>li>a
{
	padding:10px 15px;
}
.mbot
{
	margin-bottom: 40px;

}
.navbar-brand
{
	height:auto;
}
.navbar-brand img
{
	height:75px;
	width:75px;
}
.row
{
	margin-right: 0px;
	margin-left: 0px;
}
.navbar-fixed-top .navbar-brand
{
	padding:5px 0;
}
.bg-color-red
{
	background-color: #c5002f;
}
.thumbnail
{
	background-color: transparent;
    border: none;
}
.thumbnail a img
{
	height:100px;
	width:100px;
}

.caption2
{
	text-align: left;

}
.caption2 h4
{
	text-align: left;
	line-height: 20px;
	margin-bottom:0;

}
.caption2 img

{
	height:75px;
	width:125px;
	float: left;
	margin: 0 10px 5px 0;
}
.caption2 p

{
	text-align: left;
}
.thumbnail .caption2
{
	padding:9px;
	color:#333;
	text-align: center;
}
.well
{
	background-color: transparent;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 0px;
}

.pad-top
{
	padding-top: 20px;
}
.pad-bot
{
	padding-bottom: 30px;
}
.text-center
{
	line-height: 0px;
}
h2
{
	position: relative;
	

}
.huge-text
{
	font-size: 40px;
}
.client-zone-display
{
	display:inline;
}
.thumbnail
{
	min-height: 150px;
	margin-top: 20px;

}
.service-thumbnails a img
{
	height:100px;
	width: 160px;
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,
Color='#444')";
  filter: url(#drop-shadow);
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
  filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}
.service-thumbnails a
{
	color:inherit;
}
.service-thumbnails a:hover
{
	color:#c5002f;
}
.caption
{
	text-align: center;
}
.even-out
{
	display:flex;
	justify-content:space-between;
}
footer
{
	color:#fff;
	background-color: #000;
	
}
.float-right
{
	float:right;
}
.inligned
{
	display: inline-block;
}
.lrg-text
{
	font-size: 1.7em;
	font-family: 'Merriweather', serif;
	color:#c5002f;
	line-height: 0px;
	margin-bottom: 20px;
}
.mtop-main
{
	margin-top: 20px;
}
.hr-style
{
	
	border-top: 3px solid #c5002f;
	background-color: #ddd;

}

.hr-style-2
{
	
	
	background-color: #eee;
}
.main-img
{
	margin-bottom: 40px;
}
.main-img-2
{
	text-align: center;
}
.pad-top
{
	padding-top: 20px;
	background-color: #eee;
}
.info-text
{
	font-size: 1.1em;
	margin-bottom: 40px;
	
}
.info-text h2
{
	margin-top: 0px;
}
.main-img-size
{

}
.mtop-nil
{
	margin-top: 0;
}
.nav>li>a
{
	padding: 15px 15px;
}

.img-shadow
{
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,
Color='#444')";
  filter: url(#drop-shadow);
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
  filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}
.jumbotron
{
	background:/*linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)),*/
	url("../images/hero-main--grey__test3.jpg");
	width:100%;
	height: 88vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	

}
.jumbotron-pm
{
	background:linear-gradient(
		rgba(0, 0, 0, 0.15),
		rgba(0, 0, 0, 0.15)),
	url("../images/truck_lot.jpg");
	/*width:100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
	

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.jumbotron-pm-2
{
	background:/*linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)),*/
	url("../images/project-management.jpg");
	/*width:100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
	

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
/*.jumbotron-concrete
{
	background:linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)),
	url("../images/concrete-hero.jpg");
	width:100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	

}*/
.jumbotron-concrete
{
	background:linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)),
	url("../images/concrete_pour.jpg");
	/*width:100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
	

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.jumbotron-concrete-2
{
	background:/*linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)),*/
	url("../images/foundation.jpg");
	/*width:100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
	

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
/*.jumbotron-pipe
{
	background:linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)),
	url("../images/piping_hero.jpg");
	width:100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	

}*/
.jumbotron-pipe
{
	background:linear-gradient(
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2)),
	url("../images/piping_ind.jpg");
	/*width:100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
	

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.jumbotron-pipe-2
{
	background:/*linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)),*/
	url("../images/piping_hero_2.jpg");
	/*width:100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
	

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
/*.jumbotron-mill
{
	background:linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)),
	url("../images/millwright_hero.jpg");
	width:100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	

}*/
.jumbotron-mill
{
	background:linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)),
	url("../images/mill_ind.jpg");
	/*width:100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
	

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.jumbotron-mill-2
{
	background:/*linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)),*/
	url("../images/millwright_2.jpg");
	/*width:100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
	

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.jumbotron-hvac
{
	background:linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)),
	url("../images/industrial_hvac_overhead.jpg");
	/*width:100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
	

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.jumbotron-hvac-2
{
	background:/*linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)),*/
	url("../images/industrial_hvac_1.jpg");
	/*width:100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
	

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.time_sensitive {
    background: rgb(95, 95, 97); /* Fallback */
    background: rgba(0, 0, 0, 0.4);
    padding: 0 10px 1px 10px;
}
.jumbotron .container
{
	display: flex;
	justify-content:center;
	align-items: flex-end;
	width:100%;
	height: 95vh;
	padding-bottom: 100px;
	position: relative;
}
.jumbotron .hero-text
{
	
	
	right:25%;
	bottom:40%;
	position: absolute;
}
.hero-icons
{
	display: flex;
	position: absolute;
	flex-direction:column;
	right:0px;
	top:40%;
}
.hero-icons img
{
	width:40px;
	height:40px;
	margin:0 20px 20px 0 ;
}
.hero-brand
{
	font-size: 40px;
	color: #fff;
}
.jumbotron .container img
{
	height:40px;
	width:40px;
	cursor: pointer;

}

.jumbotron .container p
{
	text-align: center;
	color:#fff;
	margin-bottom: 0;
	font-size: 1.8em;

}
.jumbotron-pm .container
{
	display: flex;
	justify-content:center;
	align-items: center;
	width:100%;
	height: 500px;
	padding-bottom: 130px;
}


.jumbotron-pm .container p
{
	text-align: center;
	color:#fff;
	margin-bottom: 0;
	font-size: 1.8em;

}
.jumbotron-concrete .container
{
	display: flex;
	justify-content:center;
	align-items: center;
	width:100%;
	height: 500px;
	padding-bottom: 130px;
}
.jumbotron-hvac .container
{
	display: flex;
	justify-content:center;
	align-items: center;
	width:100%;
	height: 500px;
	padding-bottom: 130px;
}
.jumbotron-hvac .container p
{
	
	text-align: center;
	color:#fff;
	margin-bottom: 0;
	font-size: 1.8em;

}

.jumbotron-concrete .container p
{
	text-align: center;
	color:#fff;
	margin-bottom: 0;
	font-size: 1.8em;

}
.jumbotron-mill .container
{
	display: flex;
	justify-content:center;
	align-items: center;
	width:100%;
	height: 500px;
	padding-bottom: 130px;
}


.jumbotron-mill .container p
{
	text-align: center;
	color:#fff;
	margin-bottom: 0;
	font-size: 1.8em;

}
.jumbotron-pipe .container
{
	display: flex;
	justify-content:center;
	align-items: center;
	width:100%;
	height: 500px;
	padding-bottom: 130px;
}


.jumbotron-pipe .container p
{
	text-align: center;
	color:#fff;
	margin-bottom: 0;
	font-size: 1.8em;

}

.info-border-bot
{
	border-bottom: 2px solid #ddd;
}
.hero-img-text
{

}
.navbar-inverse
{
	padding-left: 5px;
}

.info-boxes
{
	
	padding-left: 20px;
	padding-bottom: 30px;
	margin-top: 30px;
}
.mbot-nil
{
	margin-bottom: 0;
}
.navbar-toggle
{
	margin-top: 25px;
}
.mtop
{
	margin-top: 10px;
}
.mtop30
{
	margin-top: 30px;
}
.mtop-footer
{
	margin-bottom: 30px;
}
a
{
	color:#c5002f;
	text-decoration: none;
}
a:hover
{
	cursor: pointer;
	text-decoration: none;
}
.line
{
	height: 2px;
	background-color: #eee;
	margin-top: 30px;
}
.information
{
	
	text-align: center;
}
.info-pad-left
{
	
	font-size: 1.7em;
	text-align: center;
}
.seperate-line
{
	height: 2px;
	background-color: #ccc;
	margin: 30px 0;
}
.seperate-line-2
{
	height: 2px;
	background-color: #c5002f;
	margin-bottom: 30px;
}
.seperate-line-top
{
	height: 2px;
	background-color: #ddd;
	margin-top: 0;
	margin-bottom: 30px;
}
.bg-clr
{
	background-color: #ddd;
	margin-bottom: 30px;
}
.bg-clr2
{
	background-color: #eee;
	
}
.bg-clr-light
{
	background-color: #f4f4f4;
}
.clients-text
{
	margin-bottom:20px;
}
.border-bot-red
{
	
	margin-bottom: 50px;
}
.well .lrg-text
{
	margin-bottom: 0px;
}
.bg-clr-light h2
{
	margin-bottom: 0px;
	margin-top:0px;
}
.bg-clr-light h2 p
{
	margin-bottom: 0px;
	font-size: 1.3em;
}
.navbar-inverse .navbar-nav>li>a:hover
{
	color: #c5002f;
}
.navbar-inverse .navbar-nav>li>a
{
	color: #fff;
}
.information p a
{
	color:inherit;
}
.information p a:hover
{
	color:#c5002f;
	text-decoration: none;
}
.footerWidget p a:hover
{
	text-decoration: none;
}
.carousel
{
	min-height: 250px;
	border-top: 3px solid #c5002f;
}
.item
{
	min-height: 250px;
	padding-top: 20px;

}
.woo-sc-hr,{
    clear: both;
    display: block;
    margin-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}
.woo-sc-hr {
    border-bottom: 1px solid #c3c3c3 !important;
    margin-bottom: 5px !important;
    padding-top: 5px !important;
}
.in-thumb-minh .thumbnail
{
	margin-bottom: 0;
	margin-top: 0;
	
}
.in-thumb-minh
{
	min-height: 200px;
}
.footer-logo-tp
{
	position: relative;
	right:20px;
	bottom:20px;
	height: 250px;
	width:250px;
	opacity: .2;
	float:right;
	z-index: 10;
}
.footer-mtop
{
	margin-top: 20px;
}


/*.footer__logo {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
}*/
/* You could use :after - it doesn't really matter */
/*.footer__logo:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 900px;
    top: 10px;
    width: 250px;
    height: 250px;
    z-index: 1;
    opacity: 0.14;
    background-image: url('../images/pic-logo.svg');
    background-repeat: no-repeat;
    background-position: 50% 0%;

}*/
.footerRights-text
{
	text-align: center;
}
#footerRights
{
	margin-top: 20px;
}

.footer-info-plft
{

	padding-left: 30px;
}

.carousel-indicators li
{
	border: 1px solid #c5002f;
}
.carousel-indicators .active 
{
	background-color:#c5002f;
}
.miller
{
	margin:0;
}

@media only screen and (max-width: 1085px) {

.in-thumb-minh
{
	min-height: 337px;
}

.jumbotron .container
{
	padding-bottom: 100px;
	height: 90vh;
}
.jumbotron .container img 
{
	display:none;
}

}
@media only screen and (max-width: 900px) {

.nav>li>a
{
	padding: 15px 9px;
}

}

@media only screen and (max-width: 991px) {

.mtop-nil
{
	margin-top: 40px;
}
.in-thumb-minh
{
	min-height: 240px;
}


}

@media only screen and (max-width: 768px) {
body
{
	padding-top: 60px;
}
.navbar-toggle {
    margin-top: 15px;
}
.jumbotron {
    
    height: 90vh;
    
}

.thumbnail .caption
{
	text-align: center;
}
.info-boxes
{
	padding-left: 15px;
}
.in-thumb-minh
{
	min-height: 257px;
}
.navbar-brand img {
    height: 50px;
    width: 50px;
}

.text-center
{
	text-align: center;
}

.jumbotron .container
{
	padding-bottom: 55px;
	height: 90vh;
}
.info-pad-left 
{
    font-size: 1.3em;
    text-align: center;
}

}

@media only screen and (max-width: 767px) {

.text-center
{
	text-align: center;
}

.jumbotron .container img
{
	width:30px;
	height:30px;

}
.jumbotron-pm .container
{
	padding-bottom: 30px;
}
.jumbotron-pipe .container
{
	padding-bottom: 30px;
}
.jumbotron-concrete .container
{
	padding-bottom: 30px;
}
.jumbotron-mill .container
{
	padding-bottom: 30px;
}


}

@media only screen and (max-width: 640px) {

/*.jumbotron .container img
{
	display: none;

}*/
.jumbotron .container img
{
	width:20px;
	height:20px;

}

.jumbotron .container
{
	padding-bottom: 60px;
}

.item .row .col-xs-6
{
	height:140px;
}
.item
{
	min-height:300px;
}
.xs-pad_top
{
	padding-top: 60px;
}

}

@media only screen and (max-width: 568px) {


.info-text
{
	margin-bottom: 0px;
	font-size: 1.1em;

}
.jumbotron-pm .container
{
	padding-bottom: 20px;
}
.jumbotron-pipe .container
{
	padding-bottom: 20px;
}
.jumbotron-concrete .container
{
	padding-bottom: 20px;
}
.jumbotron-mill .container
{
	padding-bottom: 20px;
}
.in-thumb-minh
{
	min-height: 160px;
}

}

/*@media only screen and (max-width: 568px) {

	.caption2 img {
    height: auto;
    width: 100%;
    
}

}*/

/*@media only screen and (max-width: 440px) {

.jumbotron .container
{
	height:95vh;

}

}*/

